#banner_detail
  %h2
    My Localpolitics.in
    %span.current
      = latest_search_or_state_of @congress_person
  = link_to_locality_page(@congress_person)

#representative_details
  .photo
    = govtrack_photo(@congress_person)
    %ul.contact_detail
      %li
      = link_to "Website", @congress_person.website_url
      %li
      - if @congress_person.twitters?
        = twitter_link_for(@congress_person)
    - if @congress_person.twitters?
      .tweets
        %h3 Recent tweets
        %ul
          - @congress_person.tweets.each do |tweet|
            %li
              = auto_link tweet.text
              %p.tweet_date
                == #{distance_of_time_in_words_to_now(tweet.created_at)} ago
        %p= twitter_link_for(@congress_person, "See Twitter Page")
    - else
      - if can_invite_to_twitter?(@congress_person.crp_id)
        .invite_to_twitter
          Your congress person isn't on twitter.
          - unless @congress_person.email_address.blank?
            = link_to 'Invite them now!', twitter_invite_path(@congress_person.crp_id), :rel => 'facebox'
        .invited_to_twitter{:style => "display:none;"}
          == You've invited #{@congress_person.full_name} to twitter!
      - else
        .invited_to_twitter
          == You've invited #{@congress_person.full_name} to twitter!

  .basic_info
    %h1
      = title_and_full_name_for(@congress_person)
    .meta
      = party_for(@congress_person)
      = district_id_for(@congress_person)

    %ul#detail_tabs
      %li
        = link_to "Bio", "#bio"
      %li
        = link_to "Legislation", "#introduced_bills"
      %li
        = link_to "Committee Memberships", "#committee_memberships"

    #bio
      - if @congress_person.has_bio_text?
        %h3 Biographical information
        .double_content_border
        .bio_text= @congress_person.bio_text
      - if @congress_person.has_candidate_summary?
        = render :partial => 'shared/financial_information', :locals => {:representative => @congress_person}
      - if @congress_person.can_has_youtubes?
        .youtubes
          = youtube_embed(Youtube.most_recent(@congress_person))
          %br/
          = link_to "View all Youtube videos", @congress_person.youtube_url

    #introduced_bills
      #latest_words
        %h3 Recently used words
        %p According to the congressional record, these are the most commonly-used words for this congress person:
        .latest_words
          = @congress_person.latest_words(:results => 10).join(", ") << "..."
          = link_to "More information", capitol_words_url_for(@congress_person)
      - if @congress_person.has_introduced_bills?
        .introduced_bills
          %h3 Bills Introduced:
          %ul
            = render :partial => 'bill', :collection => @congress_person.introduced_bills
      - if @congress_person.has_sponsored_bills?
        .sponsored_bills
          %h3 Bills Sponsored:
          %ul
            = render :partial => 'bill', :collection => @congress_person.sponsored_bills

    #committee_memberships
      - if @congress_person.has_committees?
        %h3 Committee Memberships
        .committees
          %ul
            - @congress_person.committees.each do |committee|
              %li= committee.name
= hidden_field_tag :congress_person_crp_id, @congress_person.crp_id
