.representative_container
  .representative
    .profile
      %div{:style => "float: left; width: 100px; padding-right: 5px;"}
        %img{ :src => representative.photo_path, :alt => representative.full_name }
      %div{:style => "padding: 0; float: right; width: 120px;"}
        = representative.full_name
        .title= representative.title
        .meta
          %p
            = party_for(representative)
          %p{:style => "margin-bottom:0.5em;"}
            == District ID: #{representative.district}
        %ul.contact
          %li
            = link_to "Get In Contact", representative.website_url
      - if representative.has_candidate_summary?
        .clear.double_content_border
        .clear
          - representative.summary_attributes.each do |attribute|
            - if representative.currency_attribute?(attribute)
              == #{attribute.to_s.humanize}: #{number_to_currency(representative.send(attribute))}
            - else
              == #{attribute.to_s.humanize}: #{representative.send(attribute)}
            %br/
