= render :partial => 'form', :locals => { :search_description => "Localpolitics.in" }

- if @locality.has_legislators?
  #representative_information
    %h2
      My Local Congress People
    #equalize
      = render :partial => "representative", :collection => @locality.congress_people

= render :partial => 'government_spending' unless @top_recipients.blank?
= render :partial => 'donor_information' unless @top_ten_donors.nil?
#senator_comparison
  %h2 Voting comparison between your senators
  = @locality.senator_comparison
