= render :partial => 'form', :locals => { :search_description => "Localpolitics.in", :back_link => nil }

- if @locality.has_legislators?
  #representative_information
    %h2
      My Local Congress People
    #equalize
      = render :partial => "representative", :collection => @locality.congress_people

= render :partial => 'government_spending' unless @top_recipients.blank?
= render :partial => 'donor_information' unless @top_ten_donors.nil?
- if @locality.has_both_senators?
  #senator_comparison
    %h2 Voting comparison between your senators
    = @locality.senator_comparison
    .senator_comparison_credit
      OpenCongress.org makes an in-depth comparison of these senators.
      = link_to_senator_comparison(@locality)
