!!!
%html{html_attrs}
  %head
    %meta{"http-equiv" => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= h(@title || "LocalPolitics.in")
    = javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.to_json};" if protect_against_forgery?
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'global'
    = yield :head
%body
  #container
    #header
      %h1#logo LocalPolitics.in
      
    #application
      = yield

    #footer
      .thought_and_theory
        %span.small
          %a{ :href => "http://www.thoughtandtheory.com/" }
            Thought &amp; Theory 

      .hashrocket
        %span.small= link_to "Hashrocket", "http://www.hashrocket.com/"

      .sunlight_foundation
        %span.small
          Created for
          = link_to "Apps for America", "http://sunlightlabs.com/appsforamerica/"
